<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO</title>
    <style type="text/css">
    .log {
    width: 300px;
	height: 220px;
	margin: 40px auto;
	background: #ccc;
	border: 1px solid #fff;
	border-radius: 15px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	}
    </style>
</head>
<body>
<center>
    <div class="log">
    <h2>Sign in</h2>
    <form th:action="@{/login}" th:method="POST">
        <label>Login</label>
        <br/>
        <input type="text" name="login" required/>
        <br/>
        <label>Password</label>
        <br/>
        <input type="password" name="password" required/>
        <br/><br/>
        <input type="submit" value="Submit" style="background-color:DodgerBlue;"/>
        <input type="reset" value="Reset" style="background-color:Tomato;"/>
    </form>
    </div>
</center>
</body>
</html>